# ignore everything not-whitelisted
**/*
# whitelist directories in general
!*/

# blacklist some directories that cause strange issues
/dev/
/tmp/
/.cache/

# moar whitelistings...
!/.gitignore
!/.config/i3/**/*
!/.config/dunst/**/*
!/.config/bash-git-prompt
!/.config/bash-git-prompt/**/*
